<?xml version="1.0"?>
<robot name="rover">

  <!---body-->
  <xacro:macro name="body" params="name size">
    <link name="${name}">
      <visual>
        <geometry>
          <box size="${size}"/>
        </geometry>
        <material name="${body_colour}"/>
        <xacro:gaz_colour name="${name}" colour="${body_colour}"/>
      </visual>
    </link>
  </xacro:macro>

  <xacro:macro name="body_joint" params="name parent child">
    <joint name="${name}">
      <parent link="${parent}"/>
      <child link="${child}"/>
    </joint>
  </xacro:macro>

  <!--wheel-->
  <xacro:macro name="wheel" params="name diameter">
    <link name="${name}">
      <visual>
        <geomentry>
          <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
        </geomentry>
        <material name="${wheel_colour}"/>
        <xacro:gaz_colour name="${name}" colour="${wheel_colour}"/>
      </visual>
    </link>
  </xacro:macro>

  <xacro:macro name="wheel_joint" params="name parent child">
    <joint name="${name}">
      <parent link="${parent}"/>
      <child link="${child}"/>
    </joint>
  </xacro:macro>
  
</robot>
